:root {
    --main: black;
    --scound: #1f94c1;
    --pargraph: #7a7d80;
    --text: white;
    --text-dark: black;
    --border: #f5f5f556;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {}

.light {
    background-color: white;
    color: black;

}

.dark {
    background-color: black;
    color: var(--text);
}

ul {
    list-style: none;
}

.contener {
    border: 1px solid var(--border);
    margin-left: auto;
    margin-right: auto;
    width: 90%;

}

@media (max-width:992px) {
    .contener {
        width: 100%;
    }
}